header {
    background-color: #57b8bc;
    margin: 0;
    padding: 0;
    color: #023047;

}

.headercontainer {

    display: flex;
    margin-top: 0.5%;

}

.begname {
    font-family: fantasy;
    font-size: xxx-large;
    color: #023047;
    text-align: center;
    padding-top: 10px;
    width: 100%;

}

.Listone {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: #023047;
    text-align: center;

}

.List2 {
    font-family: fantasy;
    font-size: x-large;
    color: #023047;
    text-align: center;

}

.a {

    text-decoration: none;
    color: #023047;
    font-family: Verdana, Geneva, Tahoma;
}

.header.a {
    background-color: rgb(110, 215, 218);
}


.flex-container {
    display: flex;
    justify-content: space-evenly;
    border: 5px solid;
    color: black;
    height: 75vh;
    flex-wrap: wrap;
    padding-top: 75px;


}

.box1 {
    width: 400px;
    height: 200px;
    font-size: 45px;
    text-align: center;
    background-color: rgb(110, 215, 218);
    text-decoration: none;




}

.box2 {
    width: 400px;
    height: 200px;
    font-size: 45px;
    text-align: center;
    background-color: rgb(65, 149, 173);
    text-decoration: none;


}

.wesec {
    background-color: rgb(65, 149, , 173);
    font-size: xx-large;
    text-align: center;


}

.box3 {
    width: 400px;
    height: 200px;
    font-size: 45px;
    text-align: center;
    background-color: rgb(42, 107, 108);
    text-decoration: none;

}

.box4 {
    width: 400px;
    height: 200px;
    font-size: 45px;
    text-align: center;
    background-color: rgb(20, 69, 108);
    text-decoration: none;

}



body {
    background-color: whitesmoke;
    color: rgb(#023047);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: xx-large;
}

.stupidlist {
    font-size: xx-large;
    text-align: center;
    color: rgb(44, 44, 44);

}

.skillsintro {
    font-size: x-large;
    color: #023047;
    text-align: center;
    background-color: whitesmoke;

}



footer {

    background-color: #717473;

    height: 75px;
    font-size: x-large;
    color: #023047;
    text-align: center;
    padding: 40px;
    text-decoration: none;
    border-style: solid 15px;
    color: #219ebc;



}

.homelogo {
    height: 50px;

}


.inlogo {
    height: 50px;
}